<ion-view view-title="Categorias">
            <ion-content>
                <center>
    <h1>TABLA NUTRICIONAL </h1>
            <table class="rwd-table">
  
        <h1 class="m">La Tabla Nutricional de los alimentos le brinda información importante para elegir con un mejor criterio, pensando en tu salud y bienestar. En ella encontraras el aporte de calorías y nutrientes por porción de alimento. Leyendo la etiqueta podrás entender algunas propiedades nutricionales de los productos y comparar alimentos similares en forma rápida para hacer mejores elecciones. En este blog te mostramos algunas pautas e información acerca de cómo leer la Tabla Nutricional.

        </h1>
        <img class="img" src="img/232.png">
            </table>
                </center>



    
            </ion-content>
</ion-view>