<ion-icon view-title="Infografia" class="">
  <ion-content has-subheader class="">
  	<center><h1></h1>

		<img center class="n"  src="img/po.gif"><h1 class="g text-center">La reproducción sexual es aquella en la que intervienen células especializadas llamadas gametos, que se forman en órganos especiales denominados gónadas y cuya finalidad es formar una gran variedad de combinaciones genéticas en los nuevos organismos para mejorar las posibilidades de supervivencia.</h1>

		<img class="n"  src="img/2.jpg"><h1 class="g text-center">La reproducción sexual es el proceso de crear un nuevo organismo descendiente a partir de la combinación de material genético de dos organismos con material genético similar, comenzando con un proceso que se denomina meiosis, que es un tipo especializado de división celular; el cual se produce en organismos eucariotas. Los gametos son los dos tipos de células especiales, uno más grande, el femenino, y otro más pequeño, el masculino. 
		La fusión de estas dos células se llama fertilización y ésta crea un cigoto, que incluye material de los dos gametos en un proceso que se llama recombinación genética donde el material genético, el ADN, se empareja para que las secuencias de los cromosomas homólogos se alineen. 
	    A continuación se producen otras dos divisiones celulares más, para producir cuatro células hijas con la mitad de cromosomas de cada una de las dos células del padre, y el mismo número que tienen los padres, aunque puede ocurrir la auto-fertilización. Por ejemplo, en la reproducción humana cada célula humana contiene 46 cromosomas , mientras que los gametos, solo contienen 23 cromosomas, así el hijo tendrá 23 cromosomas de cada padre recombinadas genéticamente en 23 pares.</h1>

		<img class="n"  src="img/78.gif"><h1 class="g text-center">La gametogénesis es el proceso de formación de gametos células sexuales haploides apartir de células germinativas células diploides mediante procesos meióticos que se llevan a cabo en las gónadas testículos en los machos, ovarios en las hembras y ovotestes en los hermafroditas. la gametogénesis femenina u ovogénesis da lugar a la formación de óvulos</h1>

		<img class="n"  src="img/62.gif"><h1 class="g text-center">La gametogénesis masculina o espermatogénesis da lugar a los espermatozoidesbgametos masculinos y se da en el interior de los testículos a partir de la madurez fisiológica o pubertad, en el caso de la especie humana a partir de los 12 o 14 años. Cada testículo está compuesto por cerca de 900 túbulos seminíferos; cada uno de aproximadamente 75 cm. de longitud y posición enrollada. Por fuera, el túbulo seminífero está rodeado de tejido conectivo, y por dentro cubierto de numerosas células germinativas.</h1>

		<img class="n"  src="img/63.jpg"><h1 class="g text-center">El aparato de Golgi forma el acrosoma. Las mitocondrias se sitúan entre el núcleo y el filamento axial, constituyendo la pieza intermedia del espermatozoide.
Entre las células germinales del túbulo seminífero se encuentran muchas grandes células, llamadas células de Sertoli. Las superficies de estas células envuelven a los espermatocitos y a las espermátidas, e incluso los espermatozoides que maduran se conservan unidos a las células de Sertoli hasta que se han formado por completo.</h1>
		
		</center>
  	</ion-content>
</ion-view>
