<ion-view>
	<ion-content>
		<center><div class="row">
			<div class="col-10"></div>
		</div>
		<h3>El cuidado del Agua.</h3>
		<div class="col-100 "><h2></h2></div>
		<div class="col-10"></div>
		<video controls src="../img/Video1.mp4" class="MP1"></video>


        <div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "><h2>Contaminación</h2></div>
		<div class="col-10"></div>
		<video controls src="../img/contaminacion.mp4" class="MP1"></video>


		<div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "><h2>Proceso de Fecundación</h2></div>
		<div class="col-10"></div>
		<video controls src="../img/desarrollo.mp4" class="MP1"></video>

		

		<div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "><h2>Métodos Anticonceptivos</h2></div>
		<div class="col-10"></div>
		<video controls src="../img/me.mp4" class="MP1"></video></center>



	</ion-view>
</ion-content>