<ion-view view-title="BIOLOGYAPP">
    <ion-content class="padding">
        <center> <h2>WELCOME</h2>
    <img class="Portada0"  src="img/portada.png">
    <h3>ANGHELO ROMERO</h3> 
    <img class="img"  src="img/02.jpg">
    <h1>// A D N //</h1>
    <img class="ANDO"  src="img/ADN1.jpg">		
            <h1>Puede decirse que el ADN presenta la información genética que usan los seres vivos para funcionar. Este ácido nucleico también posibilita que los datos sean transmitidos a través de la herencia. Suele compararse el ADN con un código, ya que actúa como una guía con las instrucciones para la construcción del resto de los componentes de las células. Cada segmento de ADN que contiene estos datos se denomina gen Al ser una biopolímero, el ADN se compone de múltiples unidades simples que están relacionadas entre sí, formando una cadena. Los diferentes elementos que componen el ADN son los nucleótidos, formados a su vez por un grupo fosfato, una base nitrogenada y un azúcar. Los nucleótidos se distinguen entre sí de acuerdo a la base nitrogenada, que puede ser la guanina, la citosina, la timina o la adenina. Según cómo se ordenan estas bases en la cadena de ADN, se produce la codificación de los datos genéticos. 
            </h1>
        </center>
    </ion-content>
</ion-view>
